@use "./fonts" as *;
@use "./variables" as *;

//Fonts
@mixin desktop-header-font {
  font-family: $fontBold;
  font-size: 3.75rem;
  line-height: 4.25rem;
}
@mixin desktop-section-header-font {
  font-family: $fontBold;
  font-size: 2.25rem;
  line-height: 2rem;
}
@mixin desktop-subheader-font {
  font-family: $fontNormal;
  font-size: 1.5rem;
  line-height: 2rem;
}
@mixin desktop-body-font {
  font-family: $fontLight;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@mixin desktop-footer-font {
  font-family: $fontLight;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@mixin desktop-button-font {
  font-family: $fontBold;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
@mixin mobile-header-font {
  font-family: $fontBold;
  font-size: 1.5rem;
  line-height: 2rem;
}
@mixin mobile-section-header-font {
  font-family: $fontBold;
  font-size: 1.5rem;
  line-height: 2rem;
}
@mixin mobile-subheader-font {
  font-family: $fontNormal;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@mixin mobile-body-font {
  font-family: $fontLight;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@mixin mobile-footer-font {
  font-family: $fontLight;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@mixin mobile-button-font {
  font-family: $fontBold;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
