@use "./fonts" as *;

$p-color1: #323232;
$p-color2: #afafaf;
$p-color3: #ffffff;
$s-color1: #000000;
$s-color2: #e1e1e1;
$s-color3: #fafafa;

$fontBold: "avenirBold";
$fontNormal: "avenirNormal";
$fontLight: "avenirLight";

$min-width: 320px;
$max-width: 1920px;

$half-unit: 0.5rem;
$full-unit: 1rem;
$full-plus-half-unit: 1.5rem;
$double-unit: 2rem;
