@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;

// Resets for page
* {
  box-sizing: border-box;
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: $p-color3;
}

// Navigation Bar
.nav-bar {
  background-color: $p-color1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  &__element-2 {
    // border: 1px solid red;
    width: 100%;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    // border: 1px solid red;
  }
  &__item {
    flex-grow: 1;
    text-align: center;
    // border: 1px solid green;
  }
  &__link {
    color: $s-color2;
    @include mobile-button-font();
    cursor: pointer;
    padding: 0.5rem;
    display: block;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    // border: 1px solid orange;
    &:hover {
      color: $p-color3;
      border-bottom: 3px solid $p-color3;
    }
    &:active {
      color: $p-color3;
      @include mobile-button-bold-font();
      border-bottom: 3px solid $p-color3;
    }
  }
}

// Logo (can not exceed dimensions below as per style-guide)
.logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}

// Button **consider making these into mixins if it makes more sense
.button {
  height: 2.5rem; //must be this height across all screen-sizes
  border-radius: 0.25rem;
}
.desktop-button {
  min-width: 9.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
