@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;

// Resets for page
* {
  box-sizing: border-box;
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: $p-color3;
}

// Navigation Bar
.nav-bar {
  background-color: $p-color1;
  @include flex-column-center;
  padding-top: $full-unit;
  transition: 1s ease-in-out;
  @include tablet {
    flex-direction: row;
    padding: 0;
    padding-left: $full-plus-half-unit;
  }
  &:hover {
    @include tablet {
      box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.485),
        inset -2px -2px 5px rgba(255, 255, 255, 0.475);
      transition: 0.5s ease-in-out;
    }
  }
  @include desktop {
    padding-left: 8rem;
  }
  &__element-2 {
    width: 100%;
    @include tablet {
      width: 17rem;
      padding-left: 4.5rem;
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
  }
  &__item {
    flex-grow: 1;
    text-align: center;
    display: flex;
    @include tablet {
      justify-content: left;
      padding-right: $full-plus-half-unit;
    }
  }
  &__link {
    color: $s-color2;
    @include mobile-button-font();
    cursor: pointer;
    padding: 0.5rem;
    flex-grow: 1;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: 0.5s ease;
    @include tablet {
      padding: $full-plus-half-unit 0;
      flex-grow: 0;
      border-bottom: 3px solid rgba(255, 255, 255, 0);
      transition: 0.5s ease;
      @include desktop-button-font();
    }
    @include desktop {
      padding: $double-unit 0;
    }
    &:hover {
      color: $p-color3;
      border-bottom: 3px solid $p-color3;
    }
    &:active {
      color: $p-color3;
      @include mobile-button-bold-font();
      border-bottom: 3px solid $p-color3;
      @include tablet {
        @include desktop-button-bold-font();
      }
    }
  }
}

// Logo (can not exceed dimensions below as per style-guide)
.main-logo {
  max-height: 20px;
  max-width: 120px;
}

// Button **consider making these into mixins if it makes more sense
.CTA__button {
  height: 40px; //must be this height across all screen-sizes
  border-radius: 4px;
}
.CTA__desktop-button {
  min-width: 150px;
  padding-left: 32px; //minimum padding
  padding-right: 32px; //minimum padding
}
.CTA__mobile-button {
  width: 100%; // must span entire width of container
}
