@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  transition: 1s ease-in-out;
}
@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    padding: 0;
    padding-left: 1.5rem;
  }
}
@media (min-width: 768px) {
  .nav-bar:hover {
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.485), inset -2px -2px 5px rgba(255, 255, 255, 0.475);
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    padding-left: 8rem;
  }
}
.nav-bar__element-2 {
  width: 100%;
}
@media (min-width: 768px) {
  .nav-bar__element-2 {
    padding-left: 8%;
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .nav-bar__element-2 {
    padding-left: 5%;
    width: 20%;
  }
}
.nav-bar__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.nav-bar__item {
  flex-grow: 1;
  text-align: center;
  display: flex;
}
@media (min-width: 768px) {
  .nav-bar__item {
    justify-content: left;
    padding-right: 1.5rem;
  }
}
.nav-bar__link {
  color: #e1e1e1;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  cursor: pointer;
  padding: 0.5rem;
  flex-grow: 1;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.5s ease;
}
@media (min-width: 768px) {
  .nav-bar__link {
    padding: 1.5rem 0;
    flex-grow: 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: 0.5s ease;
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__link {
    padding: 2rem 0;
  }
}
.nav-bar__link:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
.nav-bar__link:active {
  color: #ffffff;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.25rem;
  border-bottom: 3px solid #ffffff;
}
@media (min-width: 768px) {
  .nav-bar__link:active {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}

.hero-container {
  position: relative;
  background-size: cover;
  display: flex;
}
.hero-container__title {
  color: #ffffff;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero-container__title {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 5%;
  }
}
@media (min-width: 1280px) {
  .hero-container__title {
    padding-left: 10%;
  }
}
.hero-container__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: #323232;
  z-index: 0;
}

.subheader-title {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .subheader-title {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .subheader-title {
    padding-bottom: 3rem;
  }
}

.footer {
  background-color: #323232;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 90%;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .footer__container {
    padding: 4rem 0 3.5rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .footer__section1 {
    display: flex;
    align-items: center;
    max-width: 691px;
  }
}
.footer__section1-title {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
  padding-left: 0.1rem;
}
@media (min-width: 768px) {
  .footer__section1-title {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2rem;
    margin: 0;
    padding-right: 6%;
  }
}
.footer__icon {
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .footer__image {
    margin-top: 0.5rem;
  }
}
.footer__icon-image1 {
  width: 1.4rem;
}
.footer__icon-image2 {
  width: 0.8rem;
}
.footer__icon-image3 {
  width: 1.7rem;
}
.footer__section2 {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__section2 {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 691px;
    margin-bottom: 1.5rem;
  }
}
.footer__div {
  padding-top: 1.5rem;
  color: #ffffff;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__div {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer__text {
    margin: 0;
    padding-bottom: 1.5rem;
  }
}
.footer__text1 {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__text1, .footer__text2 {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__text1, .footer__text2 {
    margin: 0;
  }
}
.footer__logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 77px;
    right: 0;
    margin: 0;
  }
}
.footer__copyright {
  color: #ffffff;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.main-logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}

.submit-button {
  height: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: 0.5s ease;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .submit-button {
    min-width: 9.375rem;
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}
.submit-button:hover {
  background-color: #000000;
  transition: 0.5s ease;
}

.nav-bar__link-1 {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .nav-bar__link-1 {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}

.hero-container {
  background-image: url(../assets/images/hero-bio.jpg);
  aspect-ratio: 16/9;
  align-items: center;
  background-position: bottom;
}
.hero-container__title {
  padding-left: 1rem;
}

main {
  background-color: #ffffff;
}

.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main1 {
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .main1 {
    width: 85%;
  }
}
.main1__title {
  width: 100%;
}
.main1__image-1 {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
@media (min-width: 768px) {
  .main1__image-1 {
    width: 85%;
    -o-object-position: center;
       object-position: center;
  }
}
.main1__text, .main1__text-container1 {
  width: 100%;
}
@media (min-width: 768px) {
  .main1__text, .main1__text-container1 {
    width: 85%;
  }
}
.main1__text-1, .main1__text-2 {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #323232;
  padding-top: 0.6rem;
  text-align: left;
}
.main1__text-1 {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .main1__text-1 {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .main1__text-1 {
    padding-right: 18%;
  }
}
@media (min-width: 768px) {
  .main1__text-2 {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.main1__text-3 {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-top: 1.5rem;
  text-align: left;
}
@media (min-width: 768px) {
  .main1__text-3 {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3rem;
  }
}
@media (min-width: 768px) {
  .main1__text-container1 {
    display: flex;
  }
}
.main1__text-4, .main1__text-5 {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .main1__text-4, .main1__text-5 {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .main1__text-4 {
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  .main1__text-5 {
    padding-left: 1rem;
  }
}

.main2 {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main2 {
    padding-bottom: 1rem;
  }
}
.main2__title {
  width: 90%;
}
@media (min-width: 1280px) {
  .main2__title {
    width: 80%;
  }
}
.main2__gallery {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main2__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .main2__gallery {
    width: 80%;
  }
}
.main2__images {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  margin-bottom: 1rem;
  filter: grayscale(100%);
  transition: 1s;
}
.main2__images:active {
  filter: grayscale(0%);
  transition: 0.5s;
}
@media (min-width: 768px) {
  .main2__images {
    width: calc(33.33% - 1rem);
    margin-bottom: 1.5rem;
    transition: 1s ease-in-out;
  }
}
.main2__images:hover {
  filter: grayscale(0%);
  transition: 1s ease-in-out;
  box-shadow: 2px 2px 10px 6px rgb(144, 144, 144), -2px -2px 10px 6px rgb(144, 144, 144);
}

.icon-profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e1e1e1;
  border-radius: 50%;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .icon-profile {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  .submit-button {
    width: 10%;
  }
}

.main3 {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
}
@media (min-width: 1280px) {
  .main3 {
    width: 80%;
  }
}
.main3__title {
  width: 100%;
}
.main3__form-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 768px) {
  .main3__form-section {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .main3__form-section {
    width: 50%;
  }
}
.main3__icon-profile {
  margin-top: 1.5rem;
  margin-right: 2%;
  position: relative;
  overflow: hidden;
}
.main3__icon-profile-img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: -5px;
}
.main3__form {
  width: 95%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .main3__form {
    padding-bottom: 1.5rem;
  }
}
.main3__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0;
  color: #afafaf;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .main3__fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.main3__legend-hidden {
  display: none;
}
.main3__input, .main3__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main3__label {
  margin: 0;
  padding-bottom: 0.25rem;
}
.main3__input {
  padding: 0.75rem;
  outline: none;
  background-color: #fafafa;
  color: #000000;
  min-height: 2.25rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .main3__input {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
}
.main3__input::-moz-placeholder {
  color: #000000;
}
.main3__input::placeholder {
  color: #000000;
}
.main3__input:focus {
  border: 1px solid #323232;
}
.main3__input--invalid {
  border: 1px solid #d22d2d;
}
.main3__submit-button {
  width: 100%;
}
@media (min-width: 768px) {
  .main3__submit-button {
    width: 20%;
    min-width: 9.375rem;
  }
}
.main3__comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main3__comment-section {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .main3__comment-section {
    width: 50%;
  }
}
.main3__div-comment-box {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e1e1e1;
  width: 100%;
}
.main3__icon-comment {
  margin-top: 1.5rem;
}
.main3__comment-content {
  width: 90%;
  padding-left: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.main3__div-comment-box:last-child {
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .main3__div-comment-box:last-child {
    margin-bottom: 2rem;
  }
}
.main3__comment-title {
  display: flex;
  justify-content: space-between;
}
.main3__comment-name {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .main3__comment-name {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.main3__comment-date {
  color: #afafaf;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .main3__comment-date {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.main3__comment-text {
  padding-top: 0.5rem;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .main3__comment-text {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}/*# sourceMappingURL=bio.css.map */