@font-face {
  font-family: "avenirLight";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/AvenirNextLTPro.ttf");
}
@font-face {
  font-family: "avenirBold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf");
}
@font-face {
  font-family: "avenirNormal";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf");
}
.hero-container {
  background-image: url(../assets/images/hero-bio.jpg);
  aspect-ratio: 16/9;
  position: relative;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: left;
  align-items: center;
}
.hero-container__title {
  color: #ffffff;
  font-family: "avenirNormal";
  font-size: 1.5rem;
  line-height: 2rem;
  z-index: 1;
  padding-left: 1rem;
}
.hero-container__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: #323232;
  z-index: 0;
}

.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
}
.main1__title {
  font-family: "avenirNormal";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.main1__image-1 {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
.main1__text-1, .main1__text-2 {
  font-family: "avenirBold";
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #323232;
  padding-top: 0.6rem;
  text-align: left;
  width: 100%;
}
.main1__text-1 {
  padding-top: 1rem;
}
.main1__text-3 {
  font-family: "avenirLight";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.main1__text-adjust1 {
  font-family: "avenirNormal";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.main2 {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main2__title {
  font-family: "avenirNormal";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.main2__gallery {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main2__images {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  margin-bottom: 1rem;
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container {
  width: 90%;
  padding: 2rem 0;
}
.footer__section1-title {
  font-family: "avenirNormal";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
  padding-left: 0.1rem;
}
.footer__icon {
  margin-right: 1.5rem;
}
.footer__icon-image1 {
  width: 1.4rem;
}
.footer__icon-image2 {
  width: 0.8rem;
}
.footer__icon-image3 {
  width: 1.7rem;
}
.footer__section2 {
  margin-bottom: 2rem;
}
.footer__div {
  padding-top: 1.5rem;
  color: #ffffff;
  font-family: "avenirLight";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__text1 {
  font-family: "avenirNormal";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__text1, .footer__text2 {
  margin-bottom: 1rem;
}
.footer__logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer__copyright {
  color: #ffffff;
  font-family: "avenirLight";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}/*# sourceMappingURL=bio.css.map */