@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// Header section
.hero-container {
  background-image: url(../assets/images/hero-bio.jpg);
  aspect-ratio: 16/9;
  position: relative;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: left;
  align-items: center;

  &__title {
    color: $p-color3;
    @include mobile-header-font();
    z-index: 1;
    padding-left: $full-unit;
    @include tablet {
      @include desktop-header-font();
      padding-left: 5%;
    }
    @include desktop {
      padding-left: 10%;
    }
  }
  &__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: $p-color1;
    z-index: 0;
  }
}

// Main section
.subheader-title {
  @include mobile-header-font();
  color: $p-color1;
  width: 100%;
  padding-top: $full-plus-half-unit;
  padding-bottom: $full-unit;
  @include tablet {
    @include desktop-section-header-font();
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  @include desktop {
    padding-bottom: 3rem;
  }
}
.main1 {
  @include flex-column-center();
  margin: auto;
  width: 90%;
  padding-bottom: $full-unit;
  @include tablet {
    padding-bottom: $double-unit;
  }
  @include desktop {
    width: 85%;
  }
  &__image-1 {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center bottom;
    @include tablet {
      width: 85%;
      object-position: center;
    }
  }
  &__text,
  &__text-container1 {
    width: 100%;
    @include tablet {
      width: 85%;
    }
  }
  &__text-1,
  &__text-2 {
    @include mobile-body-font-bold();
    color: $p-color1;
    padding-top: 0.6rem;
    text-align: left;
  }
  &__text-1 {
    padding-top: $full-unit;
    @include tablet {
      @include desktop-subheader-font();
    }
    @include desktop {
      padding-right: 18%;
    }
  }
  &__text-2 {
    @include tablet {
      @include desktop-body-font-bold();
    }
  }
  &__text-3 {
    @include mobile-body-font-normal();
    margin-top: $full-plus-half-unit;
    text-align: left;
    @include tablet {
      @include desktop-subheader-font();
      margin-top: 3rem;
    }
  }
  &__text-container1 {
    @include tablet {
      display: flex;
    }
  }
  &__text-4,
  &__text-5 {
    @include mobile-body-font-light();
    color: $p-color1;
    padding-top: $full-unit;
    @include tablet {
      @include desktop-body-font-normal();
    }
  }
  &__text-4 {
    @include tablet {
      padding-right: $full-unit;
    }
  }
  &__text-5 {
    @include tablet {
      padding-left: $full-unit;
    }
  }
}

// Main section 2
.main2 {
  background-color: $s-color3;
  @include flex-column-center();
  @include tablet {
    padding-bottom: $full-unit;
  }

  &__title {
    width: 90%;
    @include desktop {
      width: 80%;
    }
  }
  &__gallery {
    width: 90%;
    @include flex-column-center();
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      width: 80%;
    }
  }
  &__images {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center bottom;
    margin-bottom: $full-unit;
    filter: grayscale(100%);
    transition: 1s;
    &:active {
      filter: grayscale(0%);
      transition: 0.5s;
    }
    @include tablet {
      width: calc(33.33% - $full-unit);
      margin-bottom: $full-plus-half-unit;
      transition: 1s ease-in-out;
    }
    &:hover {
      filter: grayscale(0%);
      transition: 1s ease-in-out;
      box-shadow: 2px 2px 10px 6px rgb(144, 144, 144),
        -2px -2px 10px 6px rgb(144, 144, 144);
    }
  }
}

// Footer
.footer {
  background-color: $p-color1;
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    padding: $double-unit 0;
    @include tablet() {
      padding: 4rem 0 3.5rem;
      position: relative;
    }
    @include desktop() {
      width: 80%;
    }
  }
  &__section1 {
    @include tablet() {
      display: flex;
      align-items: center;
      max-width: 691px;
      // border: 1px solid green;
    }
  }
  &__section1-title {
    @include mobile-header-font();
    color: $p-color3;
    margin-bottom: $full-unit;
    padding-left: 0.1rem;
    @include tablet() {
      @include desktop-section-header-font();
      margin: 0;
      padding-right: 6%;
    }
  }
  &__icon {
    margin-right: $full-plus-half-unit;
  }
  &__image {
    @include tablet {
      margin-top: 0.5rem;
    }
  }
  &__icon-image1 {
    width: 1.4rem;
  }
  &__icon-image2 {
    width: 0.8rem;
  }
  &__icon-image3 {
    width: 1.7rem;
  }
  &__section2 {
    margin-bottom: $double-unit;
    @include tablet() {
      padding-top: $full-plus-half-unit;
      display: flex;
      justify-content: space-between;
      max-width: 691px;
      margin-bottom: $full-plus-half-unit;
    }
  }
  &__div {
    padding-top: $full-plus-half-unit;
    color: $p-color3;
    @include mobile-footer-font();
    @include tablet() {
      display: flex;
      flex-direction: column;
    }
  }
  &__text {
    @include tablet() {
      margin: 0;
      padding-bottom: $full-plus-half-unit;
    }
  }
  &__text1 {
    @include mobile-body-font-normal();
  }
  &__text1,
  &__text2 {
    margin-bottom: $full-unit;
    @include tablet() {
      margin: 0;
    }
  }
  &__logo {
    margin-top: $full-unit;
    margin-bottom: $full-unit;
    @include tablet() {
      position: absolute;
      top: 77px;
      right: 0;
      margin: 0;
    }
  }
  &__copyright {
    color: $p-color3;
    @include mobile-footer-font();
  }
}
