@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// Nav-Bar
.nav-bar__link-1 {
  border-bottom: 3px solid $p-color3;
  color: $p-color3;
  @include mobile-button-bold-font();
  @include tablet {
    @include desktop-button-bold-font();
  }
}
// Header section
.hero-container {
  background-image: url(../assets/images/hero-bio.jpg);
  aspect-ratio: 16/9;
  align-items: center;
  background-position: bottom;
  &__title {
    padding-left: $full-unit;
  }
}

// Main section
main {
  background-color: $p-color3;
}
.main1 {
  @include flex-column-center();
  margin: auto;
  width: 90%;
  padding-bottom: $full-unit;
  background-color: $p-color3;
  @include tablet {
    padding-bottom: $double-unit;
  }
  @include desktop {
    width: 85%;
  }
  &__title {
    width: 100%;
  }
  &__image-1 {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center bottom;
    @include tablet {
      width: 85%;
      object-position: center;
    }
  }
  &__text,
  &__text-container1 {
    width: 100%;
    @include tablet {
      width: 85%;
    }
  }
  &__text-1,
  &__text-2 {
    @include mobile-body-font-bold();
    color: $p-color1;
    padding-top: 0.6rem;
    text-align: left;
  }
  &__text-1 {
    padding-top: $full-unit;
    @include tablet {
      @include desktop-subheader-font();
    }
    @include desktop {
      padding-right: 18%;
    }
  }
  &__text-2 {
    @include tablet {
      @include desktop-body-font-bold();
    }
  }
  &__text-3 {
    @include mobile-body-font-normal();
    margin-top: $full-plus-half-unit;
    text-align: left;
    @include tablet {
      @include desktop-subheader-font();
      margin-top: 3rem;
    }
  }
  &__text-container1 {
    @include tablet {
      display: flex;
    }
  }
  &__text-4,
  &__text-5 {
    @include mobile-body-font-light();
    color: $p-color1;
    padding-top: $full-unit;
    @include tablet {
      @include desktop-body-font-normal();
    }
  }
  &__text-4 {
    @include tablet {
      padding-right: $full-unit;
    }
  }
  &__text-5 {
    @include tablet {
      padding-left: $full-unit;
    }
  }
}

// Main section 2
.main2 {
  background-color: $s-color3;
  @include flex-column-center();
  @include tablet {
    padding-bottom: $full-unit;
  }

  &__title {
    width: 90%;
    @include desktop {
      width: 80%;
    }
  }
  &__gallery {
    width: 90%;
    @include flex-column-center();
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      width: 80%;
    }
  }
  &__images {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center bottom;
    margin-bottom: $full-unit;
    filter: grayscale(100%);
    transition: 1s;
    &:active {
      filter: grayscale(0%);
      transition: 0.5s;
    }
    @include tablet {
      width: calc(33.33% - $full-unit);
      margin-bottom: $full-plus-half-unit;
      transition: 1s ease-in-out;
    }
    &:hover {
      filter: grayscale(0%);
      transition: 1s ease-in-out;
      box-shadow: 2px 2px 10px 6px rgb(144, 144, 144),
        -2px -2px 10px 6px rgb(144, 144, 144);
    }
  }
}

// Main section 3
.icon-profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $s-color2;
  border-radius: 50%;
  padding-top: $full-unit;
  @include tablet {
    width: 3rem;
    height: 3rem;
  }
}
.submit-button {
  @include tablet {
    width: 10%;
  }
}
.main3 {
  width: 90%;
  @include flex-column-center();
  margin: auto;
  background-color: $p-color3;
  @include desktop {
    width: 80%;
  }

  &__title {
    width: 100%;
  }
  &__form-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__icon-profile {
    margin-top: 1.5rem;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
    &-img {
      position: absolute;
      width: auto;
      height: 100%;
      top: 0;
      left: -5px;
    }
  }
  &__form {
    width: 95%;
    padding-bottom: $full-unit;
    @include tablet {
      padding-bottom: $full-plus-half-unit;
    }
  }
  &__fieldset {
    @include flex-column-center();
    border: none;
    width: 100%;
    padding: 0;
    color: $p-color2;
    @include mobile-body-font-normal();
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__legend-hidden {
    display: none;
  }
  &__input,
  &__label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__label {
    margin: 0;
    padding-bottom: 0.25rem;
  }
  &__input {
    padding: 0.75rem;
    outline: none;
    background-color: $s-color3;
    color: $s-color1;
    min-height: 2.25rem;
    border-radius: 4px;
    border: 1px solid $s-color2;
    margin-bottom: $full-unit;

    @include tablet {
      padding: 1rem;
      margin-bottom: $full-plus-half-unit;
    }
  }
  &__input::placeholder {
    color: $s-color1;
  }
  &__input:focus {
    border: 1px solid $p-color1;
  }
  &__input-invalid {
    border: 1px solid #d22d2d;
  }
  &__submit-button {
    width: 100%;
    @include tablet {
      width: 20%;
      min-width: 9.375rem;
    }
  }
  &__comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__div-comment-box {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $s-color2;
    width: 100%;
  }
  &__icon-comment {
    margin-top: $full-plus-half-unit;
  }
  &__comment-content {
    width: 90%;
    padding-left: $half-unit;
    padding-top: $full-plus-half-unit;
    padding-bottom: $full-plus-half-unit;
  }
  &__div-comment-box:last-child {
    border-bottom: 2px solid $s-color2;
    margin-bottom: $full-unit;
    @include tablet {
      margin-bottom: $double-unit;
    }
  }
  &__comment-title {
    display: flex;
    justify-content: space-between;
  }
  &__comment-name {
    @include mobile-body-font-bold();
    @include tablet {
      @include desktop-body-font-bold();
    }
  }
  &__comment-date {
    color: $p-color2;
    @include mobile-body-font-normal();
    @include tablet {
      @include desktop-body-font-normal();
    }
  }
  &__comment-text {
    padding-top: $half-unit;
    @include mobile-body-font-normal();
    @include tablet {
      @include desktop-body-font-normal();
    }
  }
}
