@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "avenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 500;
}
.nav-bar__link-2 {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .nav-bar__link-2 {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}

.hero-container {
  background-image: url("../assets/images/hero-shows.jpg");
  aspect-ratio: 16/9;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.hero-container__block {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1280px) {
  .hero-container__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
  }
}
.hero-container__subtitle {
  width: 100%;
  padding-left: 5%;
  padding-bottom: 3%;
  color: #fafafa;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .hero-container__subtitle {
    font-family: "AvenirNextLTPro", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 2%;
  }
}
@media (min-width: 1280px) {
  .hero-container__subtitle {
    padding-left: 10%;
  }
}
.hero-container__title {
  width: 65%;
  padding-left: 5%;
  padding-bottom: 3%;
}
@media (min-width: 768px) {
  .hero-container__title {
    width: 75%;
  }
}
@media (min-width: 1280px) {
  .hero-container__title {
    width: 100%;
  }
}
.hero-container__iframe-song {
  height: 45%;
  max-height: 130px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 768px) {
  .hero-container__iframe-song {
    width: 60%;
  }
}
@media (min-width: 1280px) {
  .hero-container__iframe-song {
    margin-top: 1rem;
  }
}

.main1 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main1 {
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .main1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
.main1__section-1 {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .main1__section-1 {
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .main1__section-1 {
    width: 75%;
    margin-top: 3.5rem;
    padding-right: 10%;
    padding-top: 0.5rem;
  }
}
.main1__title {
  width: 90%;
  padding-left: 5%;
}
@media (min-width: 768px) {
  .main1__title {
    padding-left: 1%;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .main1__title {
    width: 25%;
    padding-left: 10%;
  }
}
.main1__subtitle-containers {
  display: none;
}
@media (min-width: 768px) {
  .main1__subtitle-containers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .main1__subtitle-containers {
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .main1__subtitle-container {
    flex-grow: 1;
    width: 25%;
  }
}
.main1__content-container {
  border-bottom: 2px solid #e1e1e1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .main1__content-container {
    border-bottom: 2px solid #e1e1e1;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.5s ease;
  }
  .main1__content-container:hover {
    background-color: #fafafa;
    transition: 0.5s ease;
    cursor: pointer;
  }
}
.main1__content-container-selected {
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .main1__divs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .main1__div {
    flex-grow: 1;
    width: 25%;
  }
}
.main1__div-button {
  text-align: center;
}
.main1__text {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.main1__text-title {
  color: #afafaf;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .main1__text-title-mobile {
    display: none;
  }
}
.main1__text-title-tablet {
  display: none;
}
@media (min-width: 768px) {
  .main1__text-title-tablet {
    display: flex;
  }
}
.main1__text-content {
  padding-bottom: 1rem;
}
.main1__text-content-1 {
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
.main1__button {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .main1__button {
    width: 20%;
  }
}/*# sourceMappingURL=shows.css.map */