@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@import "./partials/global";

// Nav-Bar
.nav-bar__link-2 {
  border-bottom: 3px solid $p-color3;
  color: $p-color3;
  @include mobile-button-bold-font();
  @include tablet {
    @include desktop-button-bold-font();
  }
}

// Header styles
.hero-container {
  background-image: url("../assets/images/hero-shows.jpg");
  aspect-ratio: 16/9;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  &__block {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-right: 5%;
      padding-left: 5%;
    }
  }
  &__subtitle {
    width: 100%;
    padding-left: 5%;
    padding-bottom: 3%;
    color: $s-color3;
    @include mobile-body-font-normal();
    @include tablet {
      @include desktop-subheader-font();
      padding-bottom: 2%;
    }
    @include desktop {
      padding-left: 10%;
    }
  }
  &__title {
    width: 65%;
    padding-left: 5%;
    padding-bottom: 3%;
    @include tablet {
      width: 75%;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__iframe-song {
    height: 45%;
    max-height: 130px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      margin-top: $full-unit;
    }
  }
}

// Main styles
.main1 {
  display: flex;
  flex-direction: column;
  background-color: $p-color3;
  @include tablet {
    align-items: center;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__section-1 {
    width: 100%;
    margin-bottom: $full-unit;
    @include tablet {
      border: none;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: $double-unit;
    }
    @include desktop {
      width: 75%;
      margin-top: 3.5rem;
      padding-right: 10%;
      padding-top: $half-unit;
    }
  }
  &__title {
    width: 90%;
    padding-left: 5%;
    @include tablet {
      padding-left: 1%;
      margin-bottom: $half-unit;
    }
    @include desktop {
      width: 25%;
      padding-left: 10%;
    }
  }
  &__subtitle-containers {
    display: none;
    @include tablet {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-left: $full-unit;
      padding-right: $full-unit;
    }
    @include desktop {
      padding-bottom: $double-unit;
    }
  }
  &__subtitle-container {
    @include tablet {
      flex-grow: 1;
      width: 25%;
    }
  }
  &__content-container {
    border-bottom: 2px solid $s-color2;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: $full-unit;
    @include tablet {
      border-bottom: 2px solid $s-color2;
      padding-left: $full-unit;
      padding-right: $full-unit;
      transition: 0.5s ease;
      &:hover {
        background-color: $s-color3;
        transition: 0.5s ease;
        cursor: pointer;
      }
    }
  }
  &__content-container-selected {
    background-color: $s-color2;
  }
  &__divs {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__div {
    @include tablet {
      flex-grow: 1;
      width: 25%;
    }
    &-button {
      text-align: center;
    }
  }
  &__text {
    @include mobile-body-font-normal();
    &-title {
      color: $p-color2;
      padding-bottom: $half-unit;
    }
    &-title-mobile {
      @include tablet {
        display: none;
      }
    }
    &-title-tablet {
      display: none;
      @include tablet {
        display: flex;
      }
    }
    &-content {
      padding-bottom: $full-unit;
    }
    &-content-1 {
      @include mobile-body-font-bold();
    }
  }
  &__button {
    width: 100%;
    margin-bottom: $full-unit;
    @include tablet {
      width: 20%;
    }
  }
}
